# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
fifo/main
adder/main
temporal_decoupling/main
signal/main
semantics/serial 
semantics/par-1 
semantics/par-2 
semantics/par-3 
semantics/event-1 
semantics/event-2 
semantics/event-3 
semantics/event-4 
semantics/event-5 
semantics/event-6 
semantics/comm-1 
semantics/comm-2 
semantics/eventq-1 
semantics/eventq-2

# VCD traces
*.vcd 

# VS Code settings 
.vscode
